.upload-tip {
  color: var(--el-text-color-secondary);
  font-size: 12px;
  margin-top: 7px;
}

.demo-block {
  margin-bottom: 24px;

  .upload-demo {
    width: 297px;
  }
  .upload-table-demo {
    width: 840px;
  }
}
